<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildlens - Reconnaissance d'empreinte</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/info_resultat.css">
</head>
<body>
    <img src="/images/wildlens.png" class="bandeau">
    
    <div class="video_align">
        <video id="videoElement" autoplay> Votre navigateur ne détecte aucune caméra.</video>
        <canvas id="canvasElement" style="display:none;"></canvas>
    </div>

    <div>
        <img src="/images/logo_bouton_vert.png" class="bouton_principal" id="imageCliquable">
    </div>
        
    <a id="downloadLink" style="display:none"></a>
    <div>
        <img src="/images/croix.jpg" class="red_circle" id="red_bouton">
    </div>
    <div>
        <img src="/images/coche.jpg" class="green_circle" id="green_bouton">
    </div>
    <div>
        <img src="/images/recadrer.png" class="recadrer" id="recadrer_bouton">
    </div>
    <% if(typeof apiData !== 'undefined'){ %>
        <script>
            infos = true
        </script>
    <% } else { %>
        <script>
            infos = false
        </script>
    <% } %>
    <div class="info_container hide" id="info_container">
        <% if(typeof apiData !== 'undefined'){%>
        <div class="column">
            <div class="row">
                <img src= <%= apiData.photo_presentation_url %> class="info_animal_img">
            </div>  
            <div class="row">
                <h1><%= apiData.espece %></h1>
            </div>
            <div class="row">
                <p class="info_animal_txt"><%= apiData.description %></p>
            </div>
            <div class="row">
                <div class="column">
                    <h2 class="petit-txt">Nom Latin</h2>
                    <div class="container_info"><%= apiData.nom_latin %></div>
                    <h2 class="petit-txt">Famille</h2>
                    <div class="container_info"><%= apiData.famille %></div>
                </div>
                <div class="separateur"></div>
                <div class="column">
                    <h2 class="petit-txt">Région</h2>
                    <div class="container_info"><%= apiData.region_str %></div>
                    <h2 class="petit-txt">Taille</h2>
                    <div class="container_info"><%= apiData.taille_str %></div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h2>Habitat</h2>
                    <p class="info_animal_txt"><%= apiData.habitat %></p>
                </div>  
            </div>
            <div class="row">
                <div class="column">
                    <h2>Fun Fact</h2>
                    <p class="info_animal_txt"><%= apiData.fun_fact %></p>
                </div>
            </div>
        </div>
        <% } else { %>
            <h1>pas d'overlay</h1>
            <% } %>
    </div>
    <div id="overlay"></div>
    <script src="/scripts/scripts.js"></script>
</body>
</html>
